body{
  padding-left: 45%;
  padding-top: 300px;
  padding-right: 30%;
}
.form-login {
    max-width: 330px;
}
body h1{
  padding-left: 15%;
}
#signin{
  margin-bottom: -4px;
  border-top: 5px;
}
#login{
  margin-top: -3px;
  border-bottom: 5px;
}
#earth{
  max-width: 330px;
}
