.mail-header{
  display: flex;
  margin: 40px 20px;
  justify-content: flex-end;
  align-items: center;
  color: #64AAFF;
}
.mail-header__send{
  padding-top: 7px;
}
.mail-header__send .fa-envelope{
  margin-left: 15px;
}
.mail-header__receive .fa-envelope-open{
  margin-left: 20px;
}
.mail-status {
  margin: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.4s ease-in-out;
  padding-top: 15px;

}
.mail-profile img{
  width: 90px;
  height: 90px;
  border-radius: 30%;
}
.mail-profile{
  display: flex;
  align-items: center;
}
.mail-profile__chat{
  padding-left: 20px;
}
.mail-profile__chat-person{
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
}
.mail-profile__chat-span{
  color: rgba(0,0,0,0.6);
}
.mail-onset{
  background-color: tomato;
  font-weight: 600;
  color: white;
  font-size: 18px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}
.mail-status:hover{
  background-color: rgba(0,0,0,0.05);
}
.fa-paper-plane{
  color: #64AAFF;
}
